@theme working-test-theme;
@import "default";

/* カスタムスタイル */
section {
  background-color: fuchsia !important;
  font-size: 20px;
  color: white;
}

h1 {
  color: yellow !important;
  font-weight: bold;
}

h2 {
  color: lightblue !important;
}

h3 {
  color: lightgreen !important;
} 